sistema/files/google/api.json
sistema/.env
sistema/auth.json
sistema/node_modules
public_html/hot
public_html/storage
sistema/storage/*.key
sistema/vendor
sistema/.env
sistema/.env.backup
sistema/.phpunit.result.cache
sistema/docker-compose.override.yml
sistema/Homestead.json
sistema/Homestead.yaml
sistema/npm-debug.log
sistema/yarn-error.log
/.idea
/.vscode
